# ignore an entire directory
.vscode/
package-lock.json 
node_modules/ajv
images/splash.png
images/fin-format.gif
images/command-pallet-1.png
images/command-pallet-2.png
images/workspace_settings.png
images/explorer-context.png
images/file-template.gif
